name: minimal-make-ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install toolchain
      run: sudo apt update && sudo apt install -y build-essential

    - name: clean
      run: make clean

    - name: build
      run: make

    - name: run
      run: make run
